.jumbotron {
	padding:2.5em 2em;
	background: #ecf0f1;
	color:#444;
	text-align: center;
}
.header, .body, {
  box-sizing:border-box;
}

.header {
	padding:2.5em 2em;
  width:100%;
  background: #ffffff;
  border-radius:2px 2px 0 0;
	color:#444;
	text-align: center;
}
